
 <header>
  <nav>
    <div class="container">
      <ul class="nav-list">
        <li class="nav-link">
          <a class="logo" href="/">FarMarkt</a>
          <button class="btn" id="nav-toggle"><span class="material-icons">menu</span></button>
        </li>
      
        <li class="nav-link">Plan Your Visit<span class="material-icons">
          expand_less
          </span></i>
          <ul class="nav-drop">
            <li><a href="/visit">List of Markets</a></li>
            <li><a href="#calendar">Calendar</a></li>
          </ul>
        </li>
        
        <li class="nav-link">For Farmers<span class="material-icons">
          expand_less
          </span></i>
          <ul class="nav-drop">
            <li>Join Us</li>
            <li>Markets Rules</li>
          </ul>
        </li>
         
        <li class="nav-link">About Us</li>
        <li class="nav-item"><button class="btn">Farmers Login</button></li>
        
      </ul>
    </div>
  </nav>
</header> 
 
 

          <!-- <form class="search d-flex align-self-center">
              <input class="search-bar" type="search" placeholder="Search" aria-label="Search">
              <button class="btn search-button" type="submit"><span class="material-icons">
                search
                </span></button>
              
            </form> -->
