<% layout ('layouts/boilerplate') %> 
<div class="market-list">
    <div class="market-list-item">
        <h5>Error!</h5>
        <p>No such page found. Please try something else!</p>
    </div>
</div>