<% layout ('layouts/boilerplate') %> 


<div class="home-container">
<section id="cluster-map"></section>
<section class="home-text-box">
    <h2 class="heading-main">What's on</h2>
</section>
</div>

<section id="calendar">
</section>


<script>
    mapboxgl.accessToken = MAPBOX_TOKEN;
    const markets = {features: <%- JSON.stringify(markets)%>}
</script>

<script src="/js/clusterMap.js"></script>