*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#map {
  height: 50%;
}

#cluster-map {
  width: 100%;
  height: 50%;
  border-radius: 10px;
  margin: 0 auto;
  z-index: 100;
}

.mapboxgl-popup-content {
  max-width: 200px;
  border-radius: 15px;
}
.mapboxgl-popup-content a {
  text-align: center;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 20px;
  color: #52b788;
  margin: 0 15px;
  font-weight: bold;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.mapboxgl-popup-content a:hover {
  background: white;
  color: #286147;
}
.mapboxgl-popup-content p {
  text-align: center;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 18px;
  color: #52b788;
  margin-bottom: 0;
  margin-top: 0.5rem;
}

.mapboxgl-popup-close-button {
  position: absolute;
  right: 10;
  top: 5;
  font-size: 18px;
}
.mapboxgl-popup-close-button:hover {
  color: #52b788;
  background-color: transparent;
}

ul,
li {
  color: black;
  list-style: none;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  z-index: 10;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
}
@media (max-width: 75em) {
  nav {
    padding: 1rem 0;
  }
}
nav .logo {
  margin-right: auto;
  font-size: 2.2rem;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s;
  color: #52b788;
}
nav .logo:hover, nav .logo:focus {
  color: black;
}
nav #nav-toggle {
  display: none;
}
@media (max-width: 75em) {
  nav #nav-toggle {
    display: inline-flex;
    right: 0;
  }
}
nav .nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  font-size: 20px;
  padding: 0;
  width: 80%;
  margin: 0 auto;
}
@media (max-width: 75em) {
  nav .nav-list {
    display: none;
  }
}
nav .nav-list .nav-link {
  font-weight: bold;
  padding: 1.5rem 1.8rem;
  position: relative;
  cursor: pointer;
  flex-grow: 1;
}
nav .nav-list .nav-link:first-child {
  flex-grow: 4;
}
nav .nav-list .nav-link a {
  text-decoration: none;
  color: black;
}
@media (max-width: 75em) {
  nav .nav-list .nav-link {
    padding: 1.5rem 0;
  }
  nav .nav-list .nav-link:first-child {
    display: inline-block;
  }
}
nav .nav-list .nav-link span {
  position: absolute;
  right: 0;
  top: 40%;
  transition: transform 0.3s;
}
@media (max-width: 75em) {
  nav .nav-list .nav-link span {
    position: absolute;
    right: 1rem;
    top: 1.8rem;
  }
}
nav .nav-list .nav-link:after {
  position: absolute;
  content: "";
  width: 0%;
  height: 0.3em;
  background: #52b788;
  border-radius: 4px;
  bottom: 1em;
  left: 1.6em;
  transition: width 0.3s;
}
@media (max-width: 75em) {
  nav .nav-list .nav-link:after {
    top: 3em;
    left: 0.08em;
    transition: width 0.3s;
  }
}
nav .nav-list .nav-link:hover::after {
  width: 30%;
}
@media (max-width: 75em) {
  nav .nav-list .nav-link:hover::after {
    width: 4em;
  }
}
nav .nav-list .nav-link:nth-child(4):hover::after {
  width: 50%;
}
@media (max-width: 75em) {
  nav .nav-list .nav-link:nth-child(4):hover::after {
    width: 3.5em;
  }
}
nav .nav-list .nav-link:hover ul {
  opacity: 1;
  visibility: visible;
}
@media (max-width: 75em) {
  nav .nav-list .nav-link:hover ul {
    position: relative;
    opacity: 1;
    visibility: visible;
  }
}
nav .nav-list .nav-link:hover span {
  transform: rotate(180deg);
}
nav .nav-list .nav-link .nav-drop {
  position: absolute;
  top: 4rem;
  background-color: white;
  border-radius: 4px;
  border: 2px solid #52b788;
  width: 12rem;
  padding: 0.5rem;
  margin-left: -1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  opacity: 0;
  visibility: hidden;
  transition: 300ms ease-out;
}
@media (max-width: 75em) {
  nav .nav-list .nav-link .nav-drop {
    top: 1rem;
    box-shadow: unset;
    width: unset;
    margin-left: -1rem;
    opacity: 0;
    visibility: hidden;
  }
}
nav .nav-list .nav-link .nav-drop li {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.1s;
}
nav .nav-list .nav-link .nav-drop li:hover, nav .nav-list .nav-link .nav-drop li:focus {
  background: #d8f3dc;
}
nav .nav-list .nav-link .nav-drop li a {
  text-decoration: none;
}
nav .btn {
  border: none;
  outline: transparent;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background: white;
  color: #52b788;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  cursor: pointer;
  transition: 0.1s;
}
nav .btn:hover {
  background: white;
  color: #286147;
}
nav .btn:focus {
  text-shadow: 0 0 18px #d8f3dc;
  outline: 4px solid white;
}
nav .btn:active {
  transform: scale(0.98);
}

footer p {
  color: #333745;
  position: absolute;
  top: 100vh;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

.market-list {
  display: flex;
  flex-direction: column;
}
.market-list .market-list-item {
  color: #333745;
  border-radius: 20px;
  background-color: white;
  padding: 40px 30px;
  margin: 0 auto;
  margin-bottom: 5%;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.market-list .market-list-item:first-of-type {
  margin-top: 15%;
}
.market-list .market-list-item .market-list-content {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.market-list .market-list-item .market-list-content .market-list-content-text {
  flex-grow: 1;
}
.market-list .market-list-item .market-list-heading {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 10px;
}
.market-list .market-list-item .market-list-p {
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 5px;
}
.market-list .market-list-item a {
  text-decoration: none;
  border: 2px solid #333745;
  border-radius: 10px;
  color: #333745;
  letter-spacing: 0.1rem;
  padding: 10px 10px;
  font-weight: 500;
  flex-grow: 1;
  margin: auto;
  max-width: 20%;
  text-align: center;
}
.market-list .market-list-item a:hover {
  color: #52b788;
  border-color: #52b788;
  transform: translateY(2px);
}

.secondary-page {
  width: 100%;
  height: 100%;
  background-color: white;
}

.single-market {
  color: #333745;
  z-index: 1;
  background-color: white;
  padding: 2rem;
  margin-top: 2rem;
  display: flex;
  align-items: baseline;
}

.market--title {
  flex-grow: 1;
  margin-bottom: 2rem;
  width: 25%;
  font-size: large;
}

.market-desc-group {
  flex-grow: 1;
  width: 75%;
}

.market--description {
  font-size: larger;
}

.fb-page {
  position: relative;
  left: -50%;
  margin-bottom: 2rem;
}

.index-welcome {
  text-align: center;
  padding: 40px 30px;
}

@-webkit-keyframes move-to-right {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@-moz-keyframes move-to-right {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@-ms-keyframes move-to-right {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@-o-keyframes move-to-right {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes move-to-right {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
body {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
  padding: 30px 100px;
  height: 100%;
  max-width: 100%;
  margin: 0;
}
body .body-img {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url(../img/ja-ma--gOUx23DNks-unsplash.jpg);
  background-size: cover;
  z-index: -2;
}
body .body-img::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  opacity: 0.6;
  z-index: -1;
}
body .section {
  background-color: white;
  width: 80%;
  margin: 0 auto;
  margin-top: 10%;
  margin-bottom: 10%;
}

/*# sourceMappingURL=app.css.map */
